<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCL0O7j8CAD72DE1g14U0nHQnqLXodDjwc</string>
	<key>GCM_SENDER_ID</key>
	<string>1065514614314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rprHomesAppleMyHomes</string>
	<key>PROJECT_ID</key>
	<string>rprhomesapplemyhomes</string>
	<key>STORAGE_BUCKET</key>
	<string>rprhomesapplemyhomes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065514614314:ios:2a5132aa452060f706cd53</string>
</dict>
</plist>