<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Raipur Homes</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>fmraipuromes</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>We need access to Bluetooth to connect to devices.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to the camera to take photos and videos.</string>
	<key>NSLocationAlwaysUsageDescription</key>
    <string>We need access to your location at all times to provide real-time notifications about new properties, open houses, and local market updates based on your location.</string>

    <key>NSLocationTemporaryUsageDescriptionDictionary</key>
    <dict>
        <key>LocationAccuracyAuthorizationDescription</key>
        <string>The app requires temporary access to your precise location to help you find properties nearby and navigate to selected properties or open houses.</string>
    </dict>
	<key>NSLocationWhenInUseUsageDescription</key>
    <string>This app needs access to your location to show nearby properties, open houses, and local amenities when the app is open.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to the microphone to record audio.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to the photo library to save photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to the photo library to read your photos.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We need access to speech recognition to provide voice search functionality.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>We need permission to send notifications.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
